extends ./layout.pug

block title
    Title Tasks

block content
    a(href='/task/create/') NEW
        ul
            each t in tasks
                i 
                    #{t.text}
                    a(href='/task/edit/#{t._id}')        Edit
                    a(href='/task/delete/#{t._id}')      Delete