extends ./layout.pug

block title 
    title #{title}

block content
    - var url = (action == "create") ? "/task/create/" : "/task/edit"+ task._id
    - var btn = (action == "create") ? "create" : "edit"  
         
    form(action=url, method="post")     
        label(for="text") Texto
        input(type="text", name="text"  value=task.text  required)
        label(for="deadline") Prazo
        input(type="date", name="deadline" value=task.deadline required)
        input(type="submit", value=btn)